In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .appName("sql table") \
        .getOrCreate()

In [3]:
type(spark)

pyspark.sql.session.SparkSession

In [4]:
df =  spark.read.json("datasets/student.json")

### Select Column

In [5]:
df.select('grade').show()

+-----+
|grade|
+-----+
|    4|
|    9|
|    7|
+-----+

### Select 2 or more Columns

In [6]:
df.select(['name', 'grade']).show()

+-----+-----+
| name|grade|
+-----+-----+
| Jonh|    4|
|Marry|    9|
|Peter|    7|
+-----+-----+

### Create new Column

In [7]:
df.withColumn("newGrade", df.grade + 5).show()

+-----+-----+--------+
|grade| name|newGrade|
+-----+-----+--------+
|    4| Jonh|       9|
|    9|Marry|      14|
|    7|Peter|      12|
+-----+-----+--------+

### Rename Column

In [8]:
df.withColumnRenamed("name", "newName").show()

+-----+-------+
|grade|newName|
+-----+-------+
|    4|   Jonh|
|    9|  Marry|
|    7|  Peter|
+-----+-------+