In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Spark Tutorial").getOrCreate()

In [5]:
type(spark)

pyspark.sql.session.SparkSession

In [6]:
spark

In [7]:
{"name": "Jonh", "grade": 4}
{"name": "Marry", "grade": 9}
{"name": "Peter", "grade": 7}

{'name': 'Peter', 'grade': 7}

In [10]:
df = spark.read.json("student.json")

In [13]:
df

DataFrame[grade: bigint, name: string]

In [12]:
df.show()

+-----+-----+
|grade| name|
+-----+-----+
|    4| Jonh|
|    9|Marry|
|    7|Peter|
+-----+-----+

In [14]:
df.printSchema()

root
 |-- grade: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.columns

['grade', 'name']

In [16]:
df.count()

3

In [19]:
df.describe()

DataFrame[summary: string, grade: string, name: string]

In [18]:
df.describe().show()

+-------+-----------------+-----+
|summary|            grade| name|
+-------+-----------------+-----+
|  count|                3|    3|
|   mean|6.666666666666667| null|
| stddev|2.516611478423583| null|
|    min|                4| Jonh|
|    max|                9|Peter|
+-------+-----------------+-----+

In [22]:
df.head(2)

[Row(grade=4, name='Jonh'), Row(grade=9, name='Marry')]